footer.footer
  div.content.has-text-centered
    p
      strong weppo-store
      span
        |  by Jakub Grabarczuk and Cezary Świtała.
        | The source code is licenced MIT. The content
        | is licensed CC BY-NC-SA 4.0.
      