nav.navbar.is-info
  div.navbar-brand.store-logo
    a.navbar-item 
      strong= site.title
    a.navbar-burger(data-target="navbarMenu")
      span
      span
      span
  div#navbarMenu.navbar-menu
    div.navbar-start
      each tab in navbar.tabs
        if !tab.hasDropdown
          a.navbar-item(href=`${tab.href}`)= tab.label
        else
          div.navbar-item.has-dropdown.is-hoverable
            a.navbar-link= tab.label
            div.navbar-dropdown
              each dtab in tab.tabs
                a.navbar-item(href=`${dtab.href}`)= dtab.label
    div.navbar-end
      div.navbar-item
        div.buttons
          a.button.is-primary
            strong Sign up
          a.button.is-light Log in
