section.latest {
  .container {
    @include until($tablet) {
      padding: 1rem;
    }
    @include from($tablet) {
      padding: 3rem;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $light;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: $main-shadow-type;

  .product-card-header {
    display: flex;
    margin-bottom: 1rem;

    .name {
      margin-right: auto;
    }

    .price {
      color: $success;
    }
  }

  .content {
    margin-bottom: 1rem;
    .read-more {
      white-space: nowrap;
    }
  }

  .cart-button {
    margin-top: auto;
    width: fit-content;
  }
}
