@import "../utils/wrapper-padding";

section.user-show {
  .container {
    @include desktop {
      border-radius: 2rem;
      box-shadow: $main-shadow-type;
    }
    padding: 3.5rem;

    .data-field {
      margin-top: 1rem;
    }
  }
}

section.user-index {
  #table-wrapper {
    @include wrapper-padding;
  }
}
