$footer-padding-top: 3rem;
$footer-padding-bottom: 6rem;
$footer-padding-horizontal: 1.5rem;
$footer-line-height: 1.5rem;
$footer-border-height: 2px;
$footer-height: 
  calc($footer-padding-top + $footer-padding-bottom + 
       $footer-line-height + $footer-border-height);
$footer-padding: 
  $footer-padding-top $footer-padding-horizontal $footer-padding-bottom;
