/* Bulma overwrites */
@import "bulma-overrides";
/* Bulma imports */
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/helpers/_all";
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/components/pagination";
@import "../../node_modules/bulma/sass/components/message";
@import "../../node_modules/bulma/sass/layout/footer";
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/elements/table";
@import "../../node_modules/bulma/sass/grid/columns";
@import "../../node_modules/bulma/sass/form/_all";

/* Variables */
@import "variables";

/* Custom styles */
@import "utils/navbar";
@import "utils/form";
@import "utils/footer";
@import "utils/product-card";
@import "views/user";
@import "views/home";
@import "views/product";
@import "views/cart";

#content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $footer-height - $navbar-height);
}
