extends ../layout/layout.pug
include ../common/product-card.pug
include ../common/pagination.pug

block content
  section.products-listing
    #product-list-wrapper.container.is-max-desktop
      h1.title.mb-5 List of available products
      form
        .columns
          .column.is-10
            input.input(type="search" name="q" placeholder="Search")
          .column
            button#search-button.button(href= `${routes.product.search}`) Search
      .product-list
        each product in products
          +product-card(product)
      +pagination(pagination)
