extends ../layout/layout.pug
include ../common/product-card.pug

block content
  section.latest
    .container
      h1.title.mb-5 Our latest products
      - const productsPerRow = 3
      - let numberOfProducts = products.length
      - let numberOfRows = Math.ceil(numberOfProducts / productsPerRow)
      - for (let i = 0; i < numberOfRows; i++)
        .columns
          - productsInRow = productsPerRow
          - let isLastRow = i == numberOfRows - 1
          - let leftover = numberOfProducts % productsPerRow
          - if ( isLastRow && leftover ) {
          -   productsInRow = leftover 
          - }
          - for (let j = 0; j < productsInRow; j++)
            .column.is-4
              +product-card(products[i * productsPerRow + j])
      div.show-more
        a.button.is-link.is-inverted.is-large(href=`${routes.product.index}`)
          strong Show more
